* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #101010;
    color: lightgray;
    font-family: Monaco,Consolas,Lucida Console,monospace;
}

header {
    margin: 30px 30px;
}

.fancy-header {
    color: lightseagreen;
    text-align: center;
}

.background-image {
    height: 700px;
    width: 100%;
    background-image:  url("../assets/welcome-background.jpg");
    background-size: cover;
}

header p {
    text-align: center;
    margin-top: 10px;
}

#main-container {
    width: 1200px;
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
}

#main-container ul,ol {
    list-style-type: square;
}

#main-container ul li,ol li {
    margin-bottom: 30px;
    text-align: left;
}

#main-container h2 {
    padding: 50px 50px;
    color: lightseagreen;
    text-decoration: underline;
}

#main-container p {
    margin-bottom: 50px;
}

.main-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    width: 800px;
}

#card-photo1 {
    height: 300px;
    width: 320px;
    background-image: url("../assets/handshake.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#card-photo2 {
    height: 305px;
    width: 320px;
    background-image: url("../assets/working.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#card-photo3 {
    height: 310px;
    width: 320px;
    background-image: url("../assets/stats.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#vision-container {
    color: lightseagreen;
    height: 730px;
    padding: 70px;
    background-color: white;
}

#vision-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#photos-container {
    width: 600px;
    margin: 0 auto;
}

#photos-container p {
    color: black;
}

#products-container {
    height: 650px;
    padding: 100px 100px;
}

#products-table h2 {
    text-align: center;
}

#products-table table {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}

#products-table table th{
    border : white solid 1px;
    padding: 30px 70px;
    color: lightseagreen;
}

#products-table table td {
    border : white solid 1px;
    padding: 30px 70px;
}

#products-table table tr:hover {
    border : white solid 1px;
    padding: 30px 70px;
    background-color: whitesmoke;
    color: black;
}

#products-table p{
    text-align: center;
}

footer {
    height: 100px;
    text-align: center;
    padding-top: 40px;
    background-color: lightseagreen;
}














