@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#map {
    height: 500px;
}

.current-weather-container {
    width: 400px;
}

.primary-header {
    height: 60px;
}

.weather-forecast-card {
    height: 320px;
    width: 250px;
    font-size: .8em;
}

.card-header {
    background-color: #101010;
    color: white;
}

.list-group li {
    background-color: #f1eeee;
}
.col {
    padding: 0;
}

footer {
    height: 60px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1400px;
    }
}